/* mobile (#adminmenu hidden) */
#hbalm-main {
	float: left;
	width: 100%;
}
#hbalm-sidebar {
	float: right;
	width: 0%;
	display: none;
}


/* tablet - 1 col (form-inline) */
@media( min-width: 783px ) {
}


/* #adminmenu fold */
@media( min-width: 800px ) {

}


/* laptop - 2 col (#adminmenu unfold) */
@media( min-width: 961px ) {
	#hbalm-main {
		width: 59%;
	}
	#hbalm-sidebar {
		width: 40%;
		display: block;
	}
}


/* desktop - 3 col */
@media( min-width: 1500px ) {
	#hbalm-main {
		width: 69%;
	}
	#hbalm-sidebar {
		width: 30%;
		display: block;
	}
}


/* desktop - 4 col */
@media( min-width: 1801px ) {

}