/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
.tooltip::before {
	content: "?";
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	position: absolute;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	border-width: 5px;
	border-style: solid;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}


/* Tooltip positions */
.tooltip-right {
	top: -5px;
	right: unset;
	bottom: unset;
	left: 125%;
}
.tooltip-right::after {
	top: 15px;
	right: 100%;
	margin-top: -5px;
	border-color: transparent #555 transparent transparent;
}

